body{
  margin:0;
  display:flex;

}

.bgImg{
  width:50%;
}
#img{
  
  height: 100vh;
}

.logo-container{
  position: absolute;
  display:flex;
  align-items:center;
  justify-content:center;
  top:30%;
  background-color:rgba(0,0,0, 0.5);
}
.logo{
  max-width:100px;
}
.logo-text{
  font-size: 80px;
  color:white;
}
